# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized. this notebook is created by Hajara as assignment from IBM.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. Matplotlib
5. Pytorch
6. Tensorflow
7. Scikit-learn

| Data Science Tools |
|:-------------------|
| Jupyter Notebook |
| RStudio |
| Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers

x=(3*4)+5
print(x)
print(x==17)

17
True

In [4]:
#This will convert 200 minutes to hours by diving by 60
conv= 200/60 
print(conv)

3.3333333333333335

**Objectives:**
    
   - List popular languages for Data Science
   - List commonly used libraries
   - Simple arithmetic examples in python

## Author

Hajara CM